<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <style type="text/css">
        body { margin: 30px; font-family: sans-serif; background: #fff; }
        h1 { background: #ccf; padding: 20px; }
        pre { padding: 20px; background: #ddd; }
    </style>
</head>
<body>
    <p><a href="/pastebin/add">Add one</a> &bull; <a href="/pastebin/">List all</a></p>
    {% block content %}{% endblock %}
</body>
</html>